In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("anime.csv")

In [3]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [5]:
df["genre"].fillna("unknown",inplace=True)
df["type"].fillna("unknown",inplace=True)
df["rating"].fillna(df["rating"].mean(),inplace=True)

In [6]:
df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [7]:
df.describe()

           anime_id        rating       members
count  12294.000000  12294.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.017096  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.900000  2.250000e+02
50%    10260.500000      6.550000  1.550000e+03
75%    24794.500000      7.170000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [8]:
target=df[["rating"]]
features=df.drop(columns=["rating"])

In [9]:
features.head()

,anime_id,name,genre,type,episodes,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,151266

In [10]:
target.head()

   rating
0    9.37
1    9.26
2    9.25
3    9.17
4    9.16

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tfid=TfidfVectorizer(stop_words="english")
tfid_v=tfid.fit_transform(df["genre"])

In [13]:
tfid_v=tfid.fit_transform(df["genre"])

In [14]:
print(tfid_v.shape)

(12294, 47)

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler=MinMaxScaler()

In [17]:
scaled_data=scaler.fit_transform(df[["rating"]])

In [18]:
scaled_data

array([[0.92436975],
       [0.91116447],
       [0.90996399],
       ...,
       [0.38535414],
       [0.39735894],
       [0.45498199]])

In [19]:
featured_data=pd.DataFrame(scaled_data)

In [20]:
featured_data

              0
0      0.924370
1      0.911164
2      0.909964
3      0.900360
4      0.899160
...         ...
12289  0.297719
12290  0.313325
12291  0.385354
12292  0.397359
12293  0.454982

[12294 rows x 1 columns]

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
df.pivot_table(index="name",columns="anime_id",values=df[["rating"]])

                                                   rating                    \
anime_id                                            1     5     6     7
name
&quot;0&quot;                                         NaN   NaN   NaN   NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...    NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...    NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Memoire                    NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Movie                      NaN   NaN   NaN   NaN
...                                                   ...   ...   ...   ...
xxxHOLiC Rou                                          NaN   NaN   NaN   NaN
xxxHOLiC Shunmuki                                     NaN   NaN   NaN   NaN
Üks Uks                                               NaN   NaN   NaN   NaN
ēlDLIVE                                               NaN   NaN   NaN   NaN
◯                                                     NaN   NaN   NaN   NaN

                                                                            \
anime_id                                           8     15    16    17
name
&quot;0&quot;                                        NaN   NaN   NaN   NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Memoire                   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Movie                     NaN   NaN   NaN   NaN
...                                                  ...   ...   ...   ...
xxxHOLiC Rou                                         NaN   NaN   NaN   NaN
xxxHOLiC Shunmuki                                    NaN   NaN   NaN   NaN
Üks Uks                                              NaN   NaN   NaN   NaN
ēlDLIVE                                              NaN   NaN   NaN   NaN
◯                                                    NaN   NaN   NaN   NaN

                                                                ...        \
anime_id                                           18    19     ... 34498
name                                                            ...
&quot;0&quot;                                        NaN   NaN  ...   NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...   NaN   NaN  ...   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...   NaN   NaN  ...   NaN
&quot;Bungaku Shoujo&quot; Memoire                   NaN   NaN  ...   NaN
&quot;Bungaku Shoujo&quot; Movie                     NaN   NaN  ...   NaN
...                                                  ...   ...  ...   ...
xxxHOLiC Rou                                         NaN   NaN  ...   NaN
xxxHOLiC Shunmuki                                    NaN   NaN  ...   NaN
Üks Uks                                              NaN   NaN  ...   NaN
ēlDLIVE                                              NaN   NaN  ...   NaN
◯                                                    NaN   NaN  ...   NaN

                                                                            \
anime_id                                           34501 34502 34503 34506
name
&quot;0&quot;                                        NaN   NaN   NaN   NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Memoire                   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Movie                     NaN   NaN   NaN   NaN
...                                                  ...   ...   ...   ...
xxxHOLiC Rou                                         NaN   NaN   NaN   NaN
xxxHOLiC Shunmuki                                    NaN   NaN   NaN   NaN
Üks Uks                                              NaN   NaN   NaN   NaN
ēlDLIVE                                              NaN   NaN   NaN   NaN
◯                                                    NaN   NaN   NaN   NaN

                                                                            \
anime_id                                           34514 34519 34522 34525
name
&quot;0&quot;                                        NaN   NaN   NaN   NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Memoire                   NaN   NaN   NaN   NaN
&quot;Bungaku Shoujo&quot; Movie                     NaN   NaN   NaN   NaN
...                                                  ...   ...   ...   ...
xxxHOLiC Rou                                         NaN   NaN   NaN   NaN
xxxHOLiC Shunmuki                                    NaN   NaN   NaN   NaN
Üks Uks                                              NaN   NaN   NaN   NaN
ēlDLIVE                                              NaN   NaN   NaN   NaN
◯                                                    NaN   NaN   NaN   NaN


anime_id                                           34527
name
&quot;0&quot;                                        NaN
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...   NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...   NaN
&quot;Bungaku Shoujo&quot; Memoire                   NaN
&quot;Bungaku Shoujo&quot; Movie                     NaN
...                                                  ...
xxxHOLiC Rou                                         NaN
xxxHOLiC Shunmuki                                    NaN
Üks Uks                                              NaN
ēlDLIVE                                              NaN
◯                                                    NaN

[12292 rows x 12294 columns]

In [23]:
df1=df.pivot_table(index="name",columns="anime_id",values="rating")
df1.fillna(0,axis=0,inplace=True)

In [24]:
df1.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,34498,34501,34502,34503,34506,34514,34519,34522,34525,34527
name,,,,,,,,,,,,,,,,,,,,,
&quot;0&quot;,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
&quot;Bungaku Shoujo&quot; Memoire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
&quot;Bungaku Shoujo&quot; Movie,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
cos_m=cosine_similarity(df1)

In [53]:
cos_m

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [55]:
df1.index

Index(['&quot;0&quot;',
       '&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu',
       '&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi',
       '&quot;Bungaku Shoujo&quot; Memoire',
       '&quot;Bungaku Shoujo&quot; Movie', '&quot;Eiji&quot;',
       '&quot;Eiyuu&quot; Kaitai', '.hack//G.U. Returner',
       '.hack//G.U. Trilogy', '.hack//G.U. Trilogy: Parody Mode',
       ...
       's.CRY.ed', 'vivi', 'xxxHOLiC', 'xxxHOLiC Kei',
       'xxxHOLiC Movie: Manatsu no Yoru no Yume', 'xxxHOLiC Rou',
       'xxxHOLiC Shunmuki', 'Üks Uks', 'ēlDLIVE', '◯'],
      dtype='object', name='name', length=12292)

In [71]:
def recommended_movie(similar_movie):
    if similar_movie in df1.index:
        index=np.where(df1.index==similar_movie)[0][0]
        similar=sorted(list(enumerate(cos_m[index])),reverse=True,key=lambda x: x[1])[1:6]
        print(f'Recomended_movie of {similar_movie}')
        print("-"*30)
        for index in similar:
            print(df1.index[index[0]])
    else:
        print("Movie is not in the list")

In [81]:
recommended_movie(".hack//G.U. Returner")

Recomended_movie of .hack//G.U. Returner
------------------------------
&quot;0&quot;
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi
&quot;Bungaku Shoujo&quot; Memoire
&quot;Bungaku Shoujo&quot; Movie

In [121]:
for movie in [".hack//G.U. Trilogy", "xxxHOLiC", "xxxHOLiC Kei"]:
    print(f"\nTop recommendations for {movie}:")
    print(recommended_movie(movie))

Top recommendations for .hack//G.U. Trilogy:
Recomended_movie of .hack//G.U. Trilogy
------------------------------
&quot;0&quot;
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi
&quot;Bungaku Shoujo&quot; Memoire
&quot;Bungaku Shoujo&quot; Movie
None

Top recommendations for xxxHOLiC:
Recomended_movie of xxxHOLiC
------------------------------
&quot;0&quot;
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi
&quot;Bungaku Shoujo&quot; Memoire
&quot;Bungaku Shoujo&quot; Movie
None

Top recommendations for xxxHOLiC Kei:
Recomended_movie of xxxHOLiC Kei
------------------------------
&quot;0&quot;
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi
&quot;Bungaku Shoujo&quot; Memoire
&quot;Bungaku Shoujo&quot; Movie
None

1. Can you explain the difference between user-based and item-based collaborative filtering?

In [124]:
## User-Based CF -Finds similar users,Similarity between users,Hard to scale with many users,More users than items
## Item-Based CF -Finds similar items,Similarity between items,Easier to scale,More items than users

2. What is collaborative filtering, and how does it work?

In [127]:
## Collaborative filtering (CF) is a recommendation technique that predicts a user's interests by collecting preferences from many users.
## Types of Collaborative Filtering: User-Based Collaborative Filtering,Finds users similar to the target user.
## Item-Based Collaborative Filtering:Finds items similar to the one the user already liked.